* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.clr {
  clear: both;
}

.title-line {
  width: 70px;
  height: 5px;
  background: #295eff;
  border: none;
  margin-bottom: 10px;
}

.tmpl-warp {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

.link {
  color: #295eff;
}

.link:hover {
  color: #1e43b5;
}

/* Header Section */
header {}

.header-top-section {
  height: 30px;
  padding-top: 8px;
  background: #E1E1E1;
}

.navbar {
  float: right;
  text-align: center;
}

.navbar li {
  padding: 8px 0;
}

.navbar li:nth-child(1) {
  border-bottom: solid #3B5998 3px;
  transition: 0.1s;
}

.navbar li:nth-child(2) {
  border-bottom: solid #00ACED 3px;
  transition: 0.1s;
}

.navbar li:nth-child(3) {
  border-bottom: solid #007BB6 3px;
  transition: 0.1s;
}

.navbar li:nth-child(4) {
  border-bottom: solid #E22157 3px;
  transition: 0.1s;
}

.navbar li:hover {
  background-color: #cfcfcf;
  transition: 0.01s;
}

.navbar i {
  width: 40px;
}

.header-bottom-section {
  clear: both;
  height: 50px;
  padding-top: 30px;
  background: #FFFFFF;
  box-shadow: 0 1px 10px #cccccc;
}

.logo {
  float: left;
}

.logo img {
  height: 100px;
  margin-top: -28px;
  width: auto;
}

.main-navbar {
  float: right;
  text-align: center;
}

.main-navbar li {
  padding: 0 20px;
}

/* Showcase Section */
.showcase {
  height: 600px;
  color: #FFFFFF;
  background-image: url("../img/showcase.jpeg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 800px;
  background-color: #000000;
  position: relative;
}

.showcase-title {
  padding-top: 130px;
  font-size: 40px;
  padding-bottom: 40px;
}

.showcase hr {
  border: 1px solid #FFFFFF;
  width: 20%;
  margin-bottom: 40px;
}

.showcase-para {
  font-size: 20px;
}

.fast-selection {
  height: 110px;
  padding-top: 20px;
  background: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.fast-selection p {
  padding-bottom: 20px;
  font-size: 25px;
}

/* Clients Section */
.clients {
  height: 300px;
  padding-top: 70px;
}

.clients-list {
  width: 80%;
  margin: auto;
  margin-top: 70px;
}

.clients-list li {
  margin: 0 30px;
  opacity: 0.5;
}

/* Clients Section */
.technologies {
  margin-bottom: 100px;
}

.technologies h2 {
  margin-bottom: 50px;
}

.element {
  margin-bottom: 70px;
  background-repeat: no-repeat;
  height: 330px;
}

.element-description {
  width: 50%;
  margin-top: 30px;
  background: #FFFFFF;
  padding: 20px;
}

.element-description h1 {
  font-size: 35px;
}

.element-description p {
  font-size: 18px;
  margin: 30px 0;
}

.first-element {
  background-image: url("../img/a.jpeg");
  background-position: left;
}

.first-element-description {
  float: right;
}

.second-element {
  background-image: url("../img/a.jpeg");
  background-position: right;
}

.second-element-description {
  float: left;
}

/* Footer Section */
footer {
  height: 400px;
  background: #000000;
  color: #FFFFFF;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email-marketing, .become-a-client {
  margin: 30px;
  padding: 30px;
  border: 1px solid #585858;
  flex: 50%;
  height: 260px;
}

.flexbox form {
  padding-top: 30px;
  font-size: 10;
}

.email-marketing input {
  margin-bottom: 30px;
}

.become-a-client p {
  padding-top: 30px;
}

.flexbox button {
  border: none;
  border-radius: none;
  color: #000000;
  background: #FFFFFF;
  width: 200px;
  height: 40px;
  border: 1px solid #FFFFFF;
}

.flexbox button:hover {
  color: #FFFFFF;
  background: #000000;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:961px) {
  .tmpl-warp {
    width: 95%;
  }

  /* Header Section */
  .header-top-section email {
    display: none;
  }

  /* Clients Brand Section */
  .clients {
    height: 350px;
  }

  .clients-list {
    text-align: center;
  }

  .clients-list li {
    display: inline-block;
    padding: 15px 30px;
    margin: 0;
  }

  /* Technologies Section */
  .element {
    background: #FFFFFF;
    margin-bottom: 70px;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
  }

  .element-description {
    float: none;
    width: auto;
  }

  .element-description h1 {
    font-size: 20px;
  }

  .element-description p {
    font-size: 16px;
    margin: 30px 0;
  }

  /* Footer Section */
  footer {
    height: auto;
    background: #0065fc;
  }

  .flexbox {
    display: inline-block;
  }

  .email-marketing, .become-a-client {
    margin: 20px;
    padding: 20px;
    border: 1px solid #FFFFFF;
    flex: 50%;
    height: auto;
  }

  .flexbox button:hover {
    color: #000000;
    background: #ffe603;
    border: none;
  }
}

@media (max-width:961px) {
}
